<template>
  <div class="main">
    
    
    <div class="titleMain">
      <h1>Demand Levels</h1>
    </div>

    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ref="fc"
    ></fusioncharts>


    <div class="button">
    <v-btn class="text-centre" @click="exportToPdf">
      Export Pdf
    </v-btn>
    </div>



  </div>
</template>

<script>
import jsonBarChart from '../json/barchart.json'
import router from "../router";
export default {
  name: 'Home',
  data () {
    return {
        user: 'user',
        type: 'column2d',
        width: '100%',
        height: '400',
        dataFormat: 'json',
        dataSource: null
    }
  },
  beforeCreate: function() {
    console.log(this.$session.getAll())
      if (!this.$session.exists()) {
        router.push("/redirect")
      }
  },
    methods: {
      exportToPdf: function(){
            FusionCharts.batchExport({
                exportFormat:'pdf'
            });
        },
        configureLink: function(chart){
            this.chartInstance = chart; // Save it for further use
    
            // Configure Drilldown attributes 
            // See this : https://www.fusioncharts.com/dev/api/fusioncharts/fusioncharts-methods#configureLink
            this.chartInstance.configureLink({
            type: "pie2d",
            overlayButton: {
                message: 'Back',
                fontColor: '880000',
                bgColor: 'FFEEEE',
                borderColor: '660000'
                }
            },0)
        }
    },
    mounted: function(){
        this.configureLink(this.$refs.fc.chartObj); // this.$refs.fc gets the vue-fusionchart component
        axios
          .get('http://127.0.0.1:8000/api/areaDemandLevel', { withCredentials: true })
          .then(response => (this.dataSource = response.data))
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.titleMain {
    margin-bottom: 80px;
}

h1 {
  font-size: 60px;
  text-align: left;
}

.button {
  text-align: center;
  margin-top: 20px;
}

</style>