<template>
  <div class="landing">



    <v-img :src="logoImage" contain height="200px"></v-img>

    <div class="titleText">
      <p class="italicsText">For Organisations</p>
    </div>



    <div class="landingText">
      <p> Welcome to stillFresh for Organisations, the Data Analytics component responsible for giving your organisation an insight into powerful analytics that enhance your vending experience </p>
    </div>

<div class="bigBox">
<div class="row">
  <div class="column">    
      <v-icon size="200">mdi-magnify</v-icon>
      <p> Easy to understand visualisations </p>
  </div>

    <div class="column">
      <v-icon size="200">mdi-trending-up</v-icon>
      <p> Have access to important trends that can shape the way you organize your food collection and distribution </p>
    </div>
  
    <div class="column">
      <v-icon size="200">mdi-map-marker-distance</v-icon>
      <p> Map a route to the nearest commercial location that has the most available food </p>
    </div>
  
  
  
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: '',
      logoImage: require('../assets/logo.png'),
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.italicsText {
  font-size: 15px;
  font-style: italic;
}

.landingText {
  text-align: center;
}

.titleText {
  text-align: center;
  margin-bottom: 50px;
}

.bigBox {
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  box-sizing: border-box;
} 

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Create two equal columns that floats next to each other */
.column {
    justify-content: center;
    float: left;
    width:33%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
