<template>
  <div class="main">
    
    
    <div class="titleMain">
      <h1>Food Level Heatmap</h1>
    </div>



        
    <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>

      <div class="button">
    <v-btn class="text-centre" @click="exportToPdf">
      Export Pdf
    </v-btn>
    </div>



  </div>
</template>

<script>
import router from "../router";

export default {
  name: 'Home',
  data () {
    return {
      user: 'Luke (Fetched)',
      width: '100%',
      height: '400',
      type: 'englandregion',
      dataFormat: 'json',
      dataSource: null
    }
  },
  beforeCreate: function() {
    console.log(this.$session.getAll())
      if (!this.$session.exists()) {
        router.push("/redirect")
      }
  },
  mounted: function(){
        axios
          .get('http://127.0.0.1:8000/api/demandHeatmap', { withCredentials: true })
          .then(response => (this.dataSource = response.data))
    },
    methods: {
      exportToPdf: function(){
            FusionCharts.batchExport({
                exportFormat:'pdf'
            });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.titleMain {
    margin-bottom: 80px;
}

h1 {
  font-size: 60px;
  text-align: left;
}

.button {
  text-align: center;
  margin-top: 20px;
}

</style>