<template>
  <v-dialog v-model="loginModal" max-width="600px">
    <template v-slot:activator="{ on, attrs }">
    <v-btn rounded v-on="on" v-bind="attrs" class="primary"> Login </v-btn>
    </template>
    <v-card>
      <v-card-title class="justify-center">Login DataAnalytics</v-card-title>
      <v-card-text>
        <v-form>
          <v-text-field
            label="Username"
            v-model="email"
            :rules="[(v) => !!v || 'Email required.']"
            required
          ></v-text-field>
          <v-text-field
            label="Password"
            v-model="password"
            type="password"
            :rules="[(v) => !!v || 'Password Required.']"
            required
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center">
        <router-link :to="{name: 'Main'}">
        <v-btn @click="loginButton()" color="primary">Login</v-btn>
        </router-link>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
</style>

<script>
import router from "../router";
export default {
  name: "LoginForm",
  data: () => ({
    loginModal: false,
    email: null,
    password: null,
    success: null
  }),
  methods: {
    closeDialog: function() {
      this.loginModal = false;
    },
    loginButton: function() {
        axios
          .post('http://127.0.0.1:8000/api/login', { withCredentials: true },
          {
            username: this.email,
            password: this.password
          })
          .then(response => {
            this.success = response;
            this.$session.start();
            this.$session.set('token', response.data.token);
            this.$session.set('user', this.email);
            console.log(this.$session.getAll())
            //Vue.prototype.$userName = username
            this.closeDialog();
            router.push("/main")
          })
    }
  }

};
</script>