<template>
  <div class="main">
    
    
    <div class="titleMain">
      <h1>Welcome, {{user}}</h1>
    </div>

    <div class="gauge">
   <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>
    </div>



<div class="bigBox">
<div class="row">
  <div class="column">
    <h2>Food Level Heatmap</h2>
    <router-link to="/heatmap">
    <v-img 
    class="img"
    :src="heatmapImage"
    max-height="200"
    max-width="200"
    align="center"
    ></v-img>
    </router-link>
  </div>
  
  <div class="column" >
    <h2>Closest To Me</h2>
    <router-link to="/route">
    <v-img 
    class="img"
    :src="routeImage"
    max-height="200"
    max-width="200"
    align="center"
    ></v-img>
    </router-link>
  </div>
</div> 

<div class="row">
  <div class="column">
    <h2>Demand Levels</h2>
    <router-link to="/barchart">
    <v-img 
    class="img"
    :src="barImage"
    max-height="200"
    max-width="200"
    align="center"
    ></v-img>
    </router-link>
  </div>

  <div class="column" >
    <h2>Trends</h2>
    <router-link to="/trends">
    <v-img 
    class="img"
    :src="trendImage"
    max-height="200"
    max-width="200"
    align="center"
    ></v-img>
    </router-link>
  </div>
</div>
</div> 


  </div>
</template>

<script>
import router from "../router";
import json from '../json/gauge.json'
export default {
  name: 'Home',
  data () {

    return {
      user: this.$session.get('user'),
      heatmapImage: require('../assets/heatmap.jpeg'),
      routeImage: require('../assets/route.jpeg'),
      barImage: require('../assets/barchart.png'),
      trendImage: require('../assets/trendImage.png'),
      width: '100%',
      height: '200',
      type: 'angulargauge',
      dataFormat: 'json',
      dataSource: json
    }
  },
  beforeCreate: function() {
    console.log(this.$session.getAll())
      if (!this.$session.exists()) {
        router.push("/redirect")
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.titleMain {
    margin-bottom: 80px;
}

.bigBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-align: left;
}

.gauge {
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
} 

/* Create two equal columns that floats next to each other */
.column {
    justify-content: center;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>
