<template>
  <div class="main">
<v-icon size="300">mdi-image-broken-variant</v-icon>
      <h1> Error 401 - You must be logged in to view this content. Please Register/Login to view the content for your organisation. </h1>



  </div>
</template>

<script>
import jsonBarChart from '../json/barchart.json'
export default {
  name: 'Home',
  data () {
    return {
        user: 'user',
        type: 'column2d',
        width: '100%',
        height: '400',
        dataFormat: 'json',
        dataSource: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.titleMain {
    margin-bottom: 80px;
}

.main {
    text-align: center;
}

h1 {
  font-size: 60px;
  text-align: center;
}

</style>