<template>
  <v-dialog v-model="registerModal" max-width="600px">
    <template v-slot:activator="{ on, attrs }">
    <v-btn rounded v-on="on" v-bind="attrs" class="primary"> Register </v-btn>
    </template>
    <v-card>
      <v-card-title class="justify-center">Register - stillFresh for Organisations</v-card-title>
      <v-card-text>
        <v-form>
          <v-text-field
            label="Username"
            v-model="username"
            :rules="[(v) => !!v || 'username required.']"
            required
          ></v-text-field>
            <v-text-field
            label="Email"
            v-model="email"
            :rules="[(v) => !!v || 'organisation email required.']"
            required
          ></v-text-field>
          <v-text-field
            label="Password"
            v-model="password"
            type="password"
            :rules="[(v) => !!v || 'Password Required.']"
            required
          ></v-text-field>
     <v-text-field
            label="Postcode"
            v-model="postcode"
            :rules="[(v) => !!v || 'Postcode Required.']"
            required
          ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center">
        <router-link :to="{name: 'Main'}">
        <v-btn @click="registerButton()" color="primary">Register</v-btn>
        </router-link>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
</style>

<script>
import router from "../router";
export default {
  name: "RegisterForm",
  data: () => ({
    registerModal: false,
    email: null,
    password: null,
    username: null,
    success: null,
    postcode: null,
    items: ['Org1', 'Org2', 'Org3', 'Org4']
  }),
  methods: {
    closeDialog: function() {
      this.registerModal = false;
    },
    registerButton: function() {
        axios
          .post('http://127.0.0.1:8000/api/register', { withCredentials: true },
          {
            username: this.username,
            email: this.email,
            password: this.password
          })
          .then(response => {
            //Vue.prototype.$userName = username
            this.closeDialog();
            router.push("/")
          })
          .catch(error => console.log(error))
    }
  }

};
</script>