<template>
  <div class="main">

    <div class="titleMain">
      <h1>Shortest Route</h1>
    </div>



      <div class="map">
    <GmapMap
  :center="{lat:51.5074, lng:0.1278}"
  :zoom="7"
  map-type-id="terrain"
  style="width: 500px; height: 300px"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="true"
    :draggable="true"
    @click="center=m.position"
  />
</GmapMap>
      </div>


          <div class="titleMain">
      <h1>Organization Name:</h1>
      <h1>Distance:</h1>
      <h1>Route:</h1>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Route',
  data () {
    return {
    markers: [
      { id: 'a', position: { lat: 51.5074, lng: 0.1378 } },
      { id: 'b', position: { lat: 51.8074, lng: 0.1478 } },
      ],
      lines: [
      ],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.map {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display:inline-block!important;
    margin-bottom: 20px;
    padding: 5px;
    background: black;
    background-clip: padding-box;
}

.titleMain {
    margin-bottom: 80px;
    text-align: center;
}

.main {
    text-align:center;
}


</style>