<template>
  <div class="main">
    
    
    <div class="titleMain">
      <h1>Trends</h1>
    </div>


   <fusioncharts
    :type="type"
    :width="width"
    :height="height"
    :dataFormat="dataFormat"
    :dataSource="dataSource"
    ></fusioncharts>

      <div class="button">
    <v-btn class="text-centre" @click="exportToPdf">
      Export Pdf
    </v-btn>
    </div>



  </div>
</template>

<script>
import trends from '../json/trends.json'
import router from "../router";
export default {
  name: 'Trends',
  data () {
    return {
        width: '100%',
        height: '400',
        type: 'spline',
        dataFormat: 'json',
        dataSource: trends
    }
  },
  mounted: function(){
        axios
          .get('http://127.0.0.1:8000/api/dataTrend', { withCredentials: true })
          .then(response => (this.dataSource = response.data))
    },
    beforeCreate: function() {
    console.log(this.$session.getAll())
      if (!this.$session.exists()) {
        router.push("/redirect")
      }
  },
methods: {
      exportToPdf: function(){
            FusionCharts.batchExport({
                exportFormat:'pdf'
            });
        }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.titleMain {
    margin-bottom: 80px;
}

h1 {
  font-size: 60px;
  text-align: left;
}

.button {
  text-align: center;
  margin-top: 20px;
}

</style>