<template>
  <v-app>
    <v-app-bar
      :collapse="!collapseOnScroll"
      :collapse-on-scroll="collapseOnScroll"
      absolute
      color="black"
      dark
      scroll-target="#scrolling-techniques-6"
    >
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>StillFresh</v-toolbar-title>

      <v-spacer></v-spacer>



      
      <router-link :to="{name: 'Home'}">
      <v-btn>Home </v-btn>
      </router-link>
      &nbsp; 
      &nbsp; 
      &nbsp; 

      <router-link :to="{name: 'Main'}">
      <v-btn>Hub </v-btn>
      </router-link>


      <v-spacer></v-spacer>
      <div v-if="!this.$session.exists()" >
      <login-component></login-component>
      &nbsp;
      <register-component></register-component>
      </div>

      <div v-if="this.$session.exists()" >
        <router-link :to="{name: 'Home'}">
        <v-btn @click="logout()">Logout</v-btn>
        </router-link>
      </div>
    </v-app-bar>
     <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <router-link :to="{name: 'Main'}">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Hub</v-list-item-title>
          </v-list-item>
          </router-link>

          <router-link :to="{name: 'LevelHeatmap'}">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-map-marker-radius</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Food Level Heatmap</v-list-item-title>
          </v-list-item>
          </router-link>

          <router-link :to="{name: 'Route'}">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-near-me</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Closest To Me</v-list-item-title>
          </v-list-item>
          </router-link>


          <router-link :to="{name: 'BarChart'}">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-poll</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Demand Levels</v-list-item-title>
          </v-list-item>
          </router-link>

          <router-link :to="{name: 'Trends'}">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-trending-up</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Trends</v-list-item-title>
          </v-list-item>
          </router-link>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-sheet
      id="scrolling-techniques-6"
      class="overflow-y-auto"
      max-height="1000"
    >
      <v-container style="height: 1000px; margin-top: 10%;" >
            <v-main>
      <router-view></router-view>
    </v-main>
      </v-container>
    </v-sheet>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
    name: 'login-component',
    name: 'register-component'
  },

  data: () => ({
    collapseOnScroll: true,
    drawer: false,
    group: null
    //
  }),
  beforeCreate: function() {
    this.$session.destroy()
  },
  methods : {
    logout: function() {
      this.$session.destroy()
    }
  }
};
</script>
