{% extends 'layout.html' %}

{% block content %}
  <form action="/additem" method="POST">
    <div style="margin: 2% 18% 2%; font-family: Verdana, sans-serif; font-size: 19px;">
      <h3><b><u> Add an item to the system </u></b></h3>

      {{ form.csrf_token() }}
      Item Name: <br>
      {{ form.name() }} <br>

      Food Category: <br>
      {{ form.category() }} <br>

      Item Measurement: <br>
      {{ form.quantity() }} <br>
      Measurement Unit: <br>
      {{ form.unit() }} <br>

      {{ form.submit()}}
    </div>
  </form>

{% endblock %}
