{% extends "layout.html" %}
{% block content %}
<div id=logincontainer style="margin: 2% 18% 2%; font-family: Verdana, sans-serif; font-size: 19px;">
  <div id=login>

    <h2>Please Create a Shop</h2>
    <form action="" method="post" name="signup">
    {{ form.hidden_tag() }}
    <p>Store name</p>
    <p>{{ form.name }}<br></p>
    <p>Short Description</p>
    <p>{{ form.info }}</p>
    <p>Post Code</p>
    <p>{{ form.postcode }}</p>
    <p>
      <input type="submit" value="Create">
    </p>
    </form>
  </div>
</div>
{% endblock %}
