{% extends "layout.html" %}
{% block content %}
<div id=logincontainer style="margin: 2% 18% 2%; font-family: Verdana, sans-serif; font-size: 19px;">
  <div id=login>

    <h2>Please Create an Account</h2>
    <form action="" method="post" name="signup">
    {{ form.hidden_tag() }}
    <p>Username</p>
    <p>{{ form.username }}<br></p>
    <p>Password</p>
    <p>{{ form.password }}</p>
    <p>Confirm Password</p>
    <p>{{ form.confirmPassword }}</p>
    <p>Account Type</p>
    <p>{{ form.type }}</p>
    <p>
      <input type="submit" value="Signup">
    </p>
    </form>
    <a href="/Sign">Have an account? login.</a><br>
  </div>
</div>
{% endblock %}
