{% extends 'layout.html' %}

{% block content %}
  <div style="padding: 2% 5% 1%; display: float: left;">
    {{ img }}


      <p style="font-size: 40px; font-family: Verdana, sans-serif; float: left; margin-left:2%">
        <u>{{ itemName }}</u><br>{{ distance }}
        <i><br> <span class="small">From: {{ store }}<br>{{ info }}<br>{{ add }}</span></i>
      </p>


      <div style="margin: 2% 20% 2%; float: left; {{ hide }}">
        <form method=post>
          {{ form.csrf_token() }}
          {{ form.order(class_="orderSub")}}
        </form>

        {% for message in get_flashed_messages() %}
        {{message}}
        {% endfor %}
      </div>


  </div>


{% endblock %}
