<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

<html>
  <head>
    <title> Food Bank </title>
  </head>

  <body style="margin: 0;">
    <div class="title">
        <b>Food Bank Project</b>
        <div class="menuBars" onclick="showNav()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
    </div>
    <ul class="navbar" id="navbar">
      <li ><a href="/">Home</a></li>
      <li ><a href="/About">About</a></li>
      <li ><a href="/Categories">Categories</a></li>
      <li ><a href="/search">Search</a></li>
      {{ right_nav }}
    </ul>

    <div class="backboard">
      {% block content %}{% endblock %}

      <div class="flash">
        <h3>
          {% for message in get_flashed_messages() %}
            {{message}}
          {% endfor %}
        </h3>
      </div>
      {{test}}
    </div>


    <script>
      function showNav() {
        var x = document.getElementById("navbar");
        if (x.className === "navbar") {
          x.className += "-show";
        } else {
          x.className = "navbar";
        }
      }
    </script>

  </body>
</html>
