{% extends "layout.html" %}
{% block content %}
<div id=logincontainer style="margin: 2% 18% 2%; font-family: Verdana, sans-serif; font-size: 19px;" >
  <div id=login>
    <h1>Welcome!</h1>
    <h2>Please Log In</h2>
    <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>Username</p>
    <p>
       {{ form.username }}<br>
    </p>
    <p>Password</p>
    <p>
      {{ form.password }}</p>
    <p>
      <input type="submit" value="Login">
    </p>
    </form>
    <a href="Signup">No account? Sign Up.</a><br>
    <a href="CreateStore">Lost your store? Make one.</a><br>
  </div>
</div>
{% endblock %}
