{% extends 'layout.html' %}

{% block content %}
  <form method="POST">
    <div style="margin: 2% 18% 2% 2% ;">
      {{ form.csrf_token() }}
      {{ form.search(class_="searchbar") }}
      {{ form.submit(class_="searchSub")}}
    </div>

  <div class="menuButton" onclick="showFilters()">
    Filters
  </div>

    <div id="filters" class="hidebox"">

      Max Distance (Miles): <br>
      {{ form.distance() }} <br>
      Food Category: <br>
      {{ form.category() }} <br>

    </div>
  </form>

  <div class="resultsList">
    {{ content }}
  </div>

  <script>
    function showFilters() {
      var x = document.getElementById("filters");
      if (x.className === "hidebox") {
        x.className = "showbox";
      } else {
        x.className = "hidebox";
      }
    }
  </script>
{% endblock %}
