div.title{
  margin: 0;
  padding: 0.5%;
  background-color: #66dd66;
  overflow: auto;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  color: white;
}

div.menuBars {
  float: right;
  padding-right: 5px;
  display: none;
}

div.line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

div.backboard {
  background-color: #eeeeee;
  width: 80%;
  margin: 1% 10% 1%;
  padding-bottom: 1%;
  overflow: auto;
}

div.category {
  background-color: #dddddd;
  display: block;
  float: left;
  margin: 0;
  margin-top: 1.65%;
  margin-left: 2%;
  padding: 0.4%;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

div.category:hover {
  background-color: #aaaaaa;
}

input[type=text].searchbar{
  width: 40%;
  float: left;
  margin-top: 2%;
}

input[type=submit].searchSub{
  float: left;
  background-color: #dddddd;
  margin: 0;
  padding: 0.5%;
  border : 0;
  margin-top: 2%;
  margin-left: 0.5%;
  font-size: 15px;
}

input[type=submit].searchSub:hover{
  background-color: #aaaaaa;
}

input[type=submit].orderSub{
  float: left;
  background-color: #66dd66;
  margin: 0;
  padding: 2% 6% 2%;
  border : 0;
  margin-top: 2%;
  margin-left: 0.5%;
  font-size: 30px;
}

input[type=submit].orderSubHide{
  display: none;
}

input[type=submit].orderSub:hover{
  background-color: #66aa66;
}

div.resultsList {
  padding: 2% 5% 1%;
  display: block;
  float: left;
  width: 90%;
}

div.hidebox {
  display: none;
}

div.showbox {
  position: absolute;
  margin-left: 30%;
  margin-top: 3%;
  width: 40%;
  background-color: #dddddd;
  padding: 1%;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

div.showbox input[type=text] {
  margin: auto;
  float: none;
}
div.showbox input[type=submit] {
  float: none;

  margin: 0;
  padding: 1% 2% 1%;
  border : 0;
  margin-top: 2%;
  margin-left: 0.5%;
  font-size: 15px;
}


div.menuButton {
  background-color: #dddddd;
  display: block;
  float: left;
  margin: 0;
  margin-top: 1.65%;
  margin-left: 2%;
  padding: 0.4%;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

div.menuButton:hover {
  background-color: #aaaaaa;
}

div.itemShow {
  background-color: #dddddd;
  float: left;
  margin: 1%;
  width: 200px;
  overflow: hide;
  height: 320px;
}

a.item {
  float: left;
}

a.item img {
  display: block;
  width: 90%;
  padding: 5%;
  float: left;
}

a.item p {
  display: block;
  padding: 0 5%;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

a.item p:hover {
  text-decoration: underline;
}

div.showOrder {
  background-color: #dddddd;
  padding: 0.6%;
  font-family: Verdana, sans-serif;
  font-size: 15px;

  margin: 1% 2% 1%;
}

div.showOrderDate {
  background-color: #dddddd;
  padding: 0.6%;
  font-family: Verdana, sans-serif;
  font-size: 17px;
  color: #000000;
  text-decoration: none;

  margin: 1% 2% 1%;
}

div.showOrderDate:hover {
  background-color: #cccccc;
}

img.viewItem {
  width: 40%;
  float: left;
}

.small {
  font-size: 30px;
}

div.flash {
  font-family: Verdana, sans-serif;
  margin-left: 2%;
}

@media screen and (max-width: 600px) {
  ul.navbar-show li, ul.navbar-show li.right {
    float: none;
  }

  ul.navbar { display:none; }

  ul.navbar-show {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    font-family: Verdana, sans-serif;
  }

  ul.navbar-show li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar-show li a:hover:not(.active) {
    background-color: #252525;
  }

  div.menuBars {
    display: inline-block;
    cursor: pointer;
  }

  div.backboard {
    width: 90%;
    margin: 1% auto;
  }

  img.viewItem {
    width: 350px;
  }
}

@media screen and (min-width: 601px) {

  ul.navbar-show {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    font-family: Verdana, sans-serif;
  }

  ul.navbar-show li {float: left;}

  ul.navbar-show li.right {float: right;}

  ul.navbar-show li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar-show li a:hover:not(.active) {
    background-color: #252525;
  }

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    font-family: Verdana, sans-serif;
  }

  ul.navbar li {float: left;}

  ul.navbar li.right {float: right;}

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover:not(.active) {
    background-color: #252525;
  }

}
